:root{
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: rgba(239,102,148,255);
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in;
    scroll-behavior: smooth;
    scroll-padding-top: 16vh;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--bg-color);
}
section {
    padding: 2rem 7%;
}
.btn {
    display: inline-block;
    text-align: center;
    background-color: var(--nav-color);
    color: #fff;
    font-size: 1.7rem;
    font-family: "Roboto";
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 80px;
}
.btn:hover {
    letter-spacing: 0.2rem;
}
.title {
    text-align: center;
    color: rgba(239,102,148,255);
    text-transform: capitalize;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    font-family: "Pacifico";
}
.title span {
    color: var(--main-color);
}
.header {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    /* z-index: 1000; */
}
.header .logo img {
    height: 12rem;
    border-radius: 50%;
}
.header .navbar a {
    color: #fff;
    font-size: 2rem;
    font-family: "Parkinsans";
    margin: 0 1rem;
}
.header .navbar a:hover {
    color: var(--black);
    border-top: 0.3rem solid rgba(239,102,148,255);
    border-bottom: 0.3rem solid rgba(239,102,148,255);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header .icons {
    display: flex;
}
.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover {
    color: var(--black);
}
.header .icons .menu-icon {
    display: none;
}
/* Search Box */
.header .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: -100%;
    width: 45rem;
    height: 4.5rem;
    background-color: #fff;
}
.header .search-form.active {
    right: 7%;
}
.header .search-form input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    font-family: "Parkinsans";
    color: var(--black);
    text-transform: none;
}
.header .search-form label { 
    color: var(--black);
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;
}
.header .search-form label:hover {
    color: var(--main-color);
}
/* cart section */
.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    background-color: #fff;
    height: 80vh;
    border: solid 1px black;
    padding: 0.8rem;
}
.header .cart-items-container.active {
    right: 0;
}
.header .cart-items-container .cart-item {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    position: relative;
    gap: 1rem;
}
.header .cart-items-container a {
    width: 100%;
}
.header .cart-items-container .cart-item img {
    width: 7rem;
}
.header .cart-items-container .cart-item span {
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}
.header .cart-items-container .cart-item span:hover {
    color: rgba(239,102,148,255);
}
.header .cart-items-container .cart-item .content h3 {
    font-size: 1.5rem;
    font-family: "Parkinsans";
    color: rgba(239,102,148,255);
    padding-bottom: 0.8rem;
}
.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    font-family: "Parkinsans";
    font-weight: bold;
    color: var(--nav-color);
}
/* home section starts */
.home {
    display: flex;
    align-items: center;
    min-height: 80vh;
    margin-top: 20vh;
    background-color: aqua;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.home .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.home .hero h3 {
    font-size: 6rem;
    font-family: "Pacifico";
    text-transform: none;
    color: rgba(239,102,148,255);
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}
.home .hero p {
    font-size: 2rem;
    font-family: "Pacifico";
    text-transform: none;
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-weight: lighter;
    line-height: 3.2rem;
    padding: 1rem;
    color: var(--main-color);
}
/* Donuts Section */
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.donuts .wrapper .donut-card {
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;
}
.donuts .wrapper .donut-card:hover {
    transform: scaleY(1.1);
    background-color: rgba(209,96,121,255);
}
.donuts .wrapper .donut-card img {
    width: 100%;
}
.donuts .wrapper .donut-card h3 {
    color: #fff;
    font-size: 2rem;
    font-family: "Parkinsans", sans-serif;
    padding: 1rem 0;
}
.donuts .wrapper .donut-card .price {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Parkinsans", sans-serif;
    padding: 0.5rem 0;
}
/* Iced latte section */
.iced-lattes .wrapper .latte-card {
    text-align: center;
    font-family: "dancing script";
    background-color: rgb(204,148,149);
    padding: 3rem;
    border: var(--border);
    color: rgba(239,102,148,255);
}
.iced-lattes .wrapper .latte-card:hover {
    box-shadow: var(--box-shadow);
}
.iced-lattes .wrapper .latte-card .icons a {
    border: var(--border);
    height: 5rem;
    width: 5rem;
    color: #fff;
    font-size: 2rem;
    line-height: 5rem;
    margin: 0.3rem;
}
.iced-lattes .wrapper .latte-card .icons a:hover {
    background-color: rgba(239,102,148,255);
    box-shadow: var(--box-shadow);
}
.iced-lattes .wrapper .latte-card .img {
    padding: 2.5rem 0;
    height: 25rem;
}
.iced-lattes .wrapper .latte-card .img img {
    height: 25rem;
    width: 100%;
}
.iced-lattes .wrapper .latte-card .content h3 {
    color: #fff;
    font-size: 2rem;
    font-family: "Parkinsans", sans-serif;
    margin: 1rem 0;
}
.iced-lattes .wrapper .latte-card .content .price {
     color: #fff;
     font-size: 1.8rem;
     font-family: "Parkinsans";
}
/* new arrivals */
.new-arrivals .wrapper .card {
    background-color: rgb(225,197,193);
    border: var(--border);
}
.new-arrivals .wrapper .card .img {
    width: 100%;
}
.new-arrivals .wrapper .card .img img {
    height: 100%;
    object-fit: contain;
    width: 100%;
} 
.new-arrivals .wrapper .card .content {
    padding: 2rem;
}
.new-arrivals .wrapper .card .content a:nth-of-type(1) {
    font-size: 2.5rem;
    font-family: "Parkinsans";
    line-height: 5rem;
    color: black;
}
.new-arrivals .wrapper .card .content p {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: "Parkinsans";
    line-height: 2.5rem;
}
.new-arrivals .wrapper .card:hover .content p {
    color: #fff;
}
.new-arrivals .wrapper .card .content .btn {
    transform: scale(0);
}
.new-arrivals .wrapper .card:hover .content .btn {
    transform: scale(1);
}
/* about us section */
.about .container {
    display: flex;
    justify-content: center;
    background-color: rgba(209,191,176,255);
    flex-wrap: wrap;
}
.about .container .img {
    flex: 1 1 45rem;
}
.about .container .img img {
    width: 80%;
    margin-left: 65px;
}
.about .container .content {
    flex: 1 1 45rem;
    padding: 2rem;
    margin-left: 0%;
    margin-right: 2%;;
}
.about .container .content h3 {
    font-size: 3rem;
    font-family: "Pacifico";
    color: black;
    padding: 1.2rem 0;
}
.about .container .content p {
    font-size: 1.6rem;
    font-family: "Parkinsans";
    color: black;
    padding: 1rem 0;
    line-height: 2.2rem;
    text-transform: none;
    text-align: justify;
}
/* review section */
.review .wrapper .review-card {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .wrapper .review-card img {
    height: 4rem;
}
.review .wrapper .review-card img {
    height: 4rem;
}
.review .wrapper .review-card p {
    font-size: 1.5rem;
    font-family: "Parkinsans";
    line-height: 2.2rem;
    color: black;
    padding: 2rem 0;
}
.review .wrapper .review-card .customer {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.review .wrapper .review-card:hover .customer {
    transform: scale(1.1);
}
.review .wrapper .review-card h3 {
    padding: 1rem 0rem;
    font-size: 2rem;
    font-family: "Parkinsans";
    color: black;
}
.review .wrapper .review-card .stars {
    font-size: 1.5rem;
    color: rgba(239,102,148,255);
    padding: 0.8rem 0;
}
/* contact section begins */
.contact .contents {
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
   /* height: 50rem; */
}
.contact .contents iframe {
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
}
.contact .contents form {
    height: 50rem;
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem; 
}
.contact .contents form h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 3.5rem;
    font-family: "Parkinsans";
    padding: 1.5rem 0;
}
.contact .contents form .input-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border: var(--border);
}
.contact .contents form .input-box span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .contents form .input-box input {
    background-color: var(--black);
    text-transform: none;
    color: #fff;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}
/* footer begins */
footer {
    background-color: var(--black);
    text-align: center;
}
.footer .social-media {
    padding: 1rem 0;
}
.footer .social-media a {
    height: 5rem;
    width:  5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 0.5rem;
}
.footer .social-media a:hover {
    background-color: var(--main-color);
}
.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a {
    padding: 0.7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
    font-family: "Parkinsans";
}
.footer .links a:hover{
    background-color: rgba(239,102,148,255);
}
.footer .credits {
    font-size: 2rem;
    font-family: "Parkinsans";
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credits span {
    color: rgba(239,102,148,255);
}

/* tablets and small laptops */
@media (max-width:992px) {
  html {
    font-size: 55%;
  }
  .header .logo img {
    height: 9rem;
  }
}
/* small devices (tablets) */
@media (max-width:768px) { 
    section {
        padding: 2rem;
    }
    .header .icons .menu-icon {
        display: inline-block;
    }
    .home {
        background-position: left;
    }
    .home .hero h3 {
        font-size: 4.5rem;
    }
    .home .hero p {
        font-size: 1.5rem;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        background-color: #fff;
        height: 80vh;
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        color: var(--main-color);
        display: block;
        font-size: 2rem;
        padding: 0.8rem 0.5rem;
    }
    .header .search-form {
        width: 92%;
    }
    .header .search-form.active {
        right: 4%;
    }
}
/* smart phone */
@media (max-width:550px) {
    html{
        font-size: 50%;
    }
}
